/* font integration */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Common CSS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
div,
img {
  margin: 0;
  padding: 0;
}

:root {
  --poppins: "Poppins", sans-serif;
  --primary_color: #1c1e53;
  --secondary_color: #282938;
  --white_color: #ffffff;
  --button_color: #fcd980;
  --section_banner_color: #f4f6fc;
}
/* ============================================================================
                                Navbar css start
=============================================================================== */

#navbar_part {
  background-color: #1c1e53;
  padding: 32px 0;
}

#navbar_part .custom_navbar a {
  color: #bbbbcb;
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-right: 30px;
}

#navbar_part .custom_navbar a:hover {
  color: var(--white_color);

  /* navbar part */
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
#navbar_part .btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid var(--white_color);
  border-radius: 41px;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
  padding: 16px 45px;
  opacity: 0.37;
}
#navbar_part .btn:hover {
  background-color: #f7b100;
  color: #000;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

/* banner part left text */

#navbar_part .banner_part_left h1 {
  color: var(--white_color);

  /* Heading 1 */
  font-family: var(--poppins);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 21px;
  margin-top: 192px;
}
#navbar_part .banner_part_left p {
  color: var(--white_color);

  /* Body 2 */
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}

#navbar_part .banner_img {
  margin-top: 192px;
}

#navbar_part .view_work a {
  padding: 12px 56px;
  background-color: var(--button_color);
  border-radius: 41px;
  display: inline-block;
  justify-content: center;
  color: #1b1c2b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
#navbar_part .view_work a:hover {
  color: var(--white_color);
  background-color: #966b00;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#navbar_part .view_part .view_pricing a {
  display: flex;
  align-items: center;
  color: var(--white_color);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

/* ============================================================================
                                Navbar css ends
=============================================================================== */
/* ============================================================================
                                Work css Starts
=============================================================================== */

/* ============================================================================
                                Work css ends
=============================================================================== */
